.header {
    background-color: rgb(60, 121, 85);
    color: #FFFFFF; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-content {
    max-width: 1000px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left:0px;
    margin-left:2cm;
}
