footer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0; /* Positionne le bord gauche du footer au bord gauche de la fenêtre */
    width: 100%;
    box-sizing: border-box;
}

.footer {
    padding: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}